<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PreguntORT</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PreguntORT.styles.css" asp-append-version="true" />
</head>
<body >
    <canvas id="canvas"></canvas>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-black border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a asp-action="Index"> <img src="/Img/logo.jpg" alt="logo" width="180px" class="img-fluid"></a>
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PreguntORT</a>
                <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon bg-white"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <b><a class="nav-link futer" asp-area="" asp-controller="Home" asp-action="Index" style="font-size:25px">Home</a></b>
                        </li>
                        <li class="nav-item">
                            <b><a  class="nav-link futer" asp-area="" asp-controller="Home" asp-action="Privacy" style="font-size:25px">Privacy</a></b>
                        </li>
                        <li class="nav-item">
                            <b><a  class="nav-link futer" asp-area="" asp-controller="Home" asp-action="ConfigurarJuego" style="font-size:25px">Jugar</a></b>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-black fixed-bottom">
        <div class="container">
            &copy; 2023 - PreguntORT - <a class="futer" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
