@{
    ViewData["Title"] = "Home Page";
}


<section class="conf-caja">
    <section class="container-config">
        <div class="card p-4">
            <h2 style="justify-content: center;"><b>Respuesta</b></h2>
            @if (ViewBag.Correcta != null && ViewBag.Correcta)
            {
                <p>¡Respuesta Correcta!</p>
                <a href='@Url.Action("Jugar") ' class="btn btn-dark" style="background-color: white; color:black;"><b>Siguiente!</b></a>
            }
            else
            {
                <p>Respuesta Incorrecta</p>
                <a href='@Url.Action("Fin") ' class="btn btn-dark" style="background-color: white; color:black;"><b>Ver resultados</b></a>
            }
        </div>
    </section>
</section>
  

