/* _content/PreguntORT/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


a.navbar-brand[b-iltka95ps6] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}


.btn-primary[b-iltka95ps6] {
  color: #fff;
  background-color: #e098e2;
  border-color: #e098e2;
}

.nav-pills .nav-link.active[b-iltka95ps6], .nav-pills .show > .nav-link[b-iltka95ps6] {
  color: #fff;
  background-color: #e098e2;
  border-color: #e098e2;
}

.border-top[b-iltka95ps6] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-iltka95ps6] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-iltka95ps6] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-iltka95ps6] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-iltka95ps6] {
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;

}
